
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family:
}

body {
  margin: 0 auto;
  background-color: #E7E7E7;
  text-shadow: 1px 1px white;
}

.container {
  margin: 5% 5% 5% 5%;
  overflow: auto;

}

.pageTop {
  background-image: url("../img/headerImage.png");
  background-repeat: repeat-x;
  height: 20px;
  margin-bottom: 2%;
}

.container {
  margin-top: 0;
}

.topWord {
  color: #880000;
  font-size: 15px;
  margin-bottom: 0;
}

.bottomWord {
  color: #880000;
  font-size: 25px;
  margin-top: 0;
  letter-spacing: 2px;
  font-weight: bolder;
}

.container a:hover {
  color: red;
}


/* LEFT SIDEBAR ----------------*/


.leftSidebar {
  float: left;
  width: 30%;
  padding: 1.5%;
  margin-top: 0;
}

.leftSidebar img {
  display: block;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 90%;
}

ul li, a {
  list-style-type: none;
  color: #880000;
  text-decoration: none;
  text-align: center;

}

.leftSidebar ul a:hover {
  color: red;
}


/* MAIN COLUMN ------------------*/


.mainColumn {
  float: left;
  width: 70%;
  padding: 3%;
  margin: 0 auto;
  margin-top: 8%;
}

.mainColumn .heading {
  display: inline-block;
  width: 32%;
}

.mainColumn .heading .word {
  width: 10%;
}

.mainColumn .img {
  float: left;
  margin: 1%;
  max-width: 29%;
  margin-left: 2%;
}

.img p {
  margin: 0;
  padding: 0;
}

.mainColumn .img img {
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888888;
  max-width: 100%;
}

.mainColumn .description {
  font-size: 1.5em;
}

.mainColumn h1 {
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
}

.mainColumn .imageGallery {
  text-align: center;
  font-size: 1.5em;

}

/*FOOTER ----------------*/

.victorsFooter {
  text-align: center;
}

.victorsFooter p {
  font-size: 1.2em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
  .leftSidebar .hide {
    display: none;
  }
  .leftSidebar {
    float: none;
  }
  .mainColumn {
    float: none;
  }
}
