// COLORS
$gray: #888888;
$maroon: #880000;
$red: red;
$background-color: #E7E7E7;

// Asset path variables

$path-img: "../img";

// MEDIA QUERIES

$brk-small: "(max-width: 480px)";
$brk-medium: "(max-width: 900px)";
$brk-large: "(min-width: 1950px)";
