/* MAIN COLUMN ------------------*/

.mainColumn {
  float: left;
  width: 70%;
  padding: 3%;
  margin: 8% auto 0 auto;
  .heading {
    display: inline-block;
    width: 32%;
    .word {
      width: 10%;
    }
  }
  .img {
    float: left;
    margin: 1% 1% 1% 2%;
    max-width: 29%;
    @media #{$brk-small} {
      max-width: 46%;
    }
    @media #{$brk-large} {
      max-width: 13%;
    }
    img {
      border-radius: 10px;
      box-shadow: 2px 2px 2px $gray;
      max-width: 100%;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }

  .description {
    font-size: 1.5em;
  }
  h1 {
    @extend %center-align;
    @include text(3em, lighter);
    @media #{$brk-medium} {
      font-size: 2.3em;
      margin-top: 0;
    }
  }
  h2 {
    font-weight: lighter;
  }
  .imageGallery {
    @extend %center-align;
    font-size: 1.5em;
  }
  @media #{$brk-medium} {
    float: none;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }
  @media #{$brk-large} {
    padding-top: 0;
  }

}

/* LEFT SIDEBAR ----------------*/

.leftSidebar {
  float: left;
  width: 30%;
  padding: 1.5%;
  margin-top: 0;
  @media #{$brk-medium} {
    float: none;
    width: 100%;
    li {
      float: left;
      width: 31%;
      border-bottom: 1px solid gray;
      margin: 1%;
    }
    .logo, hr {
      display: none;
    }
  }
  img {
    display: block;
    padding-left: 5%;
    margin: 0 auto;
    width: 100%;
  }
  @media #{$brk-large} {
    li {
      float: left;
      width: 31%;
      border-bottom: 1px solid gray;
      margin: 1%;
    }
    hr {
      display: none;
    }
  }
}

.nav .logo2 {
  display: none;
  @media #{$brk-medium} {
    display: block;
    margin-top: 5%;
    width: 65%;
  }
}

.nav {
  @media #{$brk-large} {
    position: absolute;
    width: 70%;
    top: 5%;
    left: 30%;
  }
}

.pageTop {
  background-image: url("#{$path-img}/headerImage.png");
  height: 40px;
  margin-bottom: 2%;
}

.topWord {
  @include text(15px, $color: $maroon);
  margin-bottom: 0;
}

.bottomWord {
  @extend %bottomWords;
  @media #{$brk-medium} {
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0;
  }
}

.bottomWord2 {
  @extend %bottomWords;
}
