.container {
  margin: 0 1% 5% 1%;
  overflow: auto;
  a {
    @extend %center-align;
    list-style-type: none;
    color: $maroon;
    text-decoration: none;
    &:hover {
      color: $red;
    }
  }
}
